:root{
    --color-primary-light: #e9e9d3;
    --color-primary-variant1-light:#00695c;
    --color-warning: rgb(218, 0, 0);
    --color-background-tooltip: white;
    --color-modal: rgba(0,0,0,0.5);
    --font-primary: 'Open Sans';
    --font-heading: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-warning: 'Roboto Mono';
    --font-size-warning: 0.75em;
    --font-size-heading: 1.5em;
    --shadow-tooltip: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-form: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary), sans-serif;
    font-weight: bold;
}

.buttonAsLink{
    background: none !important;
    border: none !important;
    color: #069;
    font-family: arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.termsAndConditionsContainer{
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 10%;
    background-color: var(--color-modal); 
}

iframe{
    width: 50%;
    height: 80%;
    margin-top: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    box-shadow: var(--shadow-tooltip);
    border-radius: 10px;
    border: none;
}

.form-container{
    background-color: var(--color-primary-light);
    position: relative;
    width: max-content;
    padding: 16px;
    border-radius: 10px;
    box-shadow: var(--shadow-form);    
}

.tableRow{

    vertical-align: top;

}
.leftCell{
    width: 180px;

}

input[type="text"]{
    border: none;
    width: 200px;
    height: 32px;
    border: 2px solid var(--color-primary-variant1-light);
    border-radius: 5px;
    padding: 8px;
    font-size: medium;
}

textarea{
    border: 2px solid var(--color-primary-variant1-light);
    border-radius: 5px;
    height: 150px;
    resize: none;
    width: 100%;
    padding: 8px;
    font-size: medium;
    margin-top: -8px;
}
textarea::placeholder{
    font-size: medium;
}

td{
    padding: 8px 0;
}

label{
    display: inline-block;
    width: 60px;
    margin-left: 16px;
}

input[type="reset"], input[type="submit"], input[type="button"]{
    background-color: var(--color-primary-variant1-light); 
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 10px;

}
button[type=submit]{
    float:right;
}

.rightCell{
    float:right;
}

hr{
    margin-top: 8px;
    border: 1px solid var(--color-primary-variant1-light);
    border-radius: 1px;
    background-color: var(--color-primary-variant1-light);
}

.acceptDeclaration{
    font-size: 0.8em;
}

.spouse-hidden{
    display:none;
}



input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #33877d;
    transform: scale(105%);
}

input[type="checkbox"]{
    vertical-align: middle;
}

.tooltip{
    opacity: 0;
    position: absolute;
    transform: translate(32% , -100%);
    background: white;
    border-radius: 24px;
    font-size: small;
    padding: 8px 16px;
    z-index: 1;
    color:var(--color-warning);   
    box-shadow: var(--shadow-tooltip);
}
.warning{
    font-family: var(--font-warning),'sans-serif';
    display: none;
    color: var(--color-warning);
    font-size: var(--font-size-warning);
    padding-bottom: 4px;
    width: 200px;
}
.tooltip-visible{
    opacity: 100%;
}

body{
    overflow: scroll;
    height: 150%;
}

.window{
    padding: 32px;  
    height: max-content;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0%);
}

.form-heading{
    display:block;
    text-align: center;
    font-family: var(--font-heading);
    font-size: var(--font-size-heading); 
    margin-bottom: 32px;   
}

.material-icons{
    font-size: 18px;
    vertical-align: bottom;   
}